*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item{
    margin-left: 30px;
}

.nav-item a {
    font-weight:600;
    font-size:18px;
    color:white;
}

.nav-item a:hover{
    color:rgb(117, 0, 128);
}

.button-nav{
    outline: none;
   color:rgb(117, 0, 128);
    background-color: transparent;
    border: 1px solid rgb(117, 0, 128);;
    border-radius: 7px;
    padding: 5px 25px 5px 25px;
    font-weight:600;
    font-size:18px;

}

.fa-magnifying-glass{
    color:rgb(117, 0, 128);
    
}
.Hero-background{
    background-image: url("https://images.unsplash.com/photo-1707343843344-011332037abb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
    background-position:center;
    height: 100vh;
}


.heading-container{
    position:relative;
    top:20rem;
    margin-left:3rem;
    
}

.hero-heading{
    font-size: 40px;
    margin:0.5rem;
}

.hero-button{
    background-color:white;
    height:40px;
    width:140px;
    font-weight:600;
    outline:none;
    border-width: 0px;
    border-radius:3px;
    margin:0.5rem;
}

.Home-button-container{
    position: fixed;
    top:40rem;
    left:85rem;
    
}

.Home-button{
    height:45px;
    width:45px;
    background-color:black;
    border-radius: 5px;
    outline:none;
    border-width:0px;
    border: 1px solid white;
}

.fa-arrow-up{
    color:white;

}

.About-section{
    background-size:cover;
    height: 80vh;
}

.Heading-container{
    text-align: center;
    padding:6rem 0rem 3rem 0rem;
}


.About-images-container{
    display: flex;
    justify-content: center;
}

.About-image{
    height:200px;
    width:400px;
    
}

.image-container{
    margin-left:1rem;
   
    
}
.About-link{
    text-decoration: none;
    color:blueviolet;
    font-weight:600;
}

.heading-about-image{
    font-size:25px;
}

.main-container-about-2{
    background-size: cover;
    height: 100vh;
}

.main-container-about-2{
    display: flex;
    align-items: center;
    width:100%;

}

.About-2-image-container{
    
}

.About-2-image{
    height:475px;
}

.about-2-matter-container{
    background-color: lightgrey;
    padding:4.5rem;
}

.about-2-button{
    background-color: black;
    color:white;
    height:40px;
    width:110px;
    outline:none;
    border-width: 0px;
}

.heading-about-2{
text-transform: uppercase;
}